* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: Inter, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    max-width: 992px;
    padding: 0 2rem;
    margin: 0 auto;
}

.container-md {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 768px;
}

.container-sm {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 540px;
}

button {
    cursor: pointer;
}